{#{% extends 'base.html' %}#}

{% block content %}
    <div>
        <h1>{% block title %} Welkom bij qAiO! {% endblock %}</h1>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Output A</th>
                    <th>Output B</th>
                </tr>
                </thead>
                <tbody>
                {% for count in range(0, (chat_history_a|default([])|length)) %}
                    {% if count % 2 %}
                    <tr>
                        <td>{{ chat_history_a[count] }}</td>
                        <td>{{ chat_history_b[count] }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2" style="text-align: center">{{ chat_history_a[count] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <p style="padding-top: 20px">
                Voor je meest recente bericht, gebruikte ik de bestanden: {{ context_used }} als context.
            </p>
            <form id="chat-form" method="post" enctype="multipart/form-data"  style="padding-top: 20px">
                <input type="hidden" name="chat_history_a" value="{{ chat_history_a|tojson }}">
                <input type="hidden" name="chat_history_b" value="{{ chat_history_b|tojson }}">
                <input type="file" name="files" multiple>
                <label>
                    <textarea name="message" placeholder="Typ bericht"></textarea>
                </label>
                <button>Submit</button>
                <div class="loader"></div>
            </form>
        </div>
    </div>
    {# Todo: move these to separate css/js files #}
    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 4s linear infinite;
            visibility: hidden;
        }

        td {
            width: 50dvw;
        }

        tbody tr:nth-child(odd) {
            background-color: #f3f3f3;
            border-right: none;
            height: 40px;
            vertical-align: bottom;
        }

        td:nth-child(1), th:nth-child(1) {
            border-right: 2px solid #3498db;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <script>
        document.getElementById("chat-form").addEventListener("submit", function (e) {
            document.querySelector(".loader").style.visibility = "visible";
        })
    </script>
{% endblock %}